:root {
  --color-grayscale-white: #ffffff;
  --color-grayscale-50: #f5f7f9;
  --color-grayscale-100: #d2dae0;
  --color-grayscale-200: #6e8091;
  --color-grayscale-black: #14212b;
  --color-blue-100: #4255ff;
  --color-blue-50: #7890e7;
  --color-red-100: #ff4264;
  --color-baekjoon: #0079c4;
  --color-leetcode: #fea116;
  --color-programmers: #1e2a3c;
  --max-width: 1300px;
}
